
Task1/.vs/Task1/v16/.suo
Task1/src/Bakery/obj/Debug/netcoreapp3.1/Bakery.csprojAssemblyReference.cache
Task1/src/BakeryApplication/obj/Debug/netcoreapp3.1/BakeryApplication.csprojAssemblyReference.cache
Task1/test/BakeryTests/obj/Debug/netcoreapp3.1/BakeryTests.csprojAssemblyReference.cache
Task1/.vs/Task1/v16/TestStore/0/testlog.manifest
Task1/.vs/Task1/v16/TestStore/0/000.testlog
